# Lab 11

## Connect to DBMS

In [1]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost")
collection = client['test']['restaurants']

## Exercise 1

### Query all Indian cuisines

In [2]:
collection.find({'cuisine': 'Indian'})

To show data we can use `list()` or `for`. Then, I'm going to use `list()` with limit.

In [3]:
list(collection.find({'cuisine': 'Indian'}))[:5]

[{'_id': ObjectId('626684816bd12ea62c681296'),
  'address': {'building': '320',
   'coord': [-73.977597, 40.779593],
   'street': 'Columbus Avenue',
   'zipcode': '10023'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 10, 27, 0, 0),
    'grade': 'A',
    'score': 7},
   {'date': datetime.datetime(2013, 7, 29, 0, 0), 'grade': 'A', 'score': 5},
   {'date': datetime.datetime(2013, 2, 19, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 1, 12, 0, 0), 'grade': 'A', 'score': 2}],
  'name': 'Mughlai Restaurant',
  'restaurant_id': '40370243'},
 {'_id': ObjectId('626684816bd12ea62c681302'),
  'address': {'building': '807',
   'coord': [-73.96643449999999, 40.7641697],
   'street': 'Lexington Avenue',
   'zipcode': '10065'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 10, 28, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 7, 9, 0, 0), 'grade': 'B', 'score': 24},
   {'date': datetime.datetime(2014, 1, 17, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2013, 5, 28, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 3, 27, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 11, 2, 0, 0), 'grade': 'C', 'score': 28}],
  'name': 'Agra Restaurant',
  'restaurant_id': '40375376'},
 {'_id': ObjectId('626684816bd12ea62c68135a'),
  'address': {'building': '8443',
   'coord': [-73.80112059999999, 40.7128278],
   'street': '164 Street',
   'zipcode': '11432'},
  'borough': 'Queens',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 11, 28, 0, 0),
    'grade': 'A',
    'score': 4},
   {'date': datetime.datetime(2014, 6, 16, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 15, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 5, 29, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Annam Braham Restaurant',
  'restaurant_id': '40380520'},
 {'_id': ObjectId('626684816bd12ea62c68136d'),
  'address': {'building': '345',
   'coord': [-73.9864626, 40.7266739],
   'street': 'East 6 Street',
   'zipcode': '10003'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2},
   {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92},
   {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}],
  'name': 'Gandhi',
  'restaurant_id': '40381295'},
 {'_id': ObjectId('626684816bd12ea62c6813a6'),
  'address': {'building': '7407',
   'coord': [-74.0272951, 40.6318285],
   'street': '3 Avenue',
   'zipcode': '11209'},
  'borough': 'Brooklyn',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 12, 17, 0, 0),
    'grade': 'Z',
    'score': 15},
   {'date': datetime.datetime(2014, 6, 19, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2013, 10, 2, 0, 0), 'grade': 'B', 'score': 16},
   {'date': datetime.datetime(2013, 4, 15, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2012, 7, 23, 0, 0), 'grade': 'A', 'score': 6},
   {'date': datetime.datetime(2011, 12, 20, 0, 0), 'grade': 'A', 'score': 12}],
  'name': 'India Passage Restaurant',
  'restaurant_id': '40384479'}]

### Query all Indian and Thai cuisines

In [4]:
list(collection.find({'cuisine': {'$in': ['Indian', 'Thai']}}))[:5]

[{'_id': ObjectId('626684816bd12ea62c681296'),
  'address': {'building': '320',
   'coord': [-73.977597, 40.779593],
   'street': 'Columbus Avenue',
   'zipcode': '10023'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 10, 27, 0, 0),
    'grade': 'A',
    'score': 7},
   {'date': datetime.datetime(2013, 7, 29, 0, 0), 'grade': 'A', 'score': 5},
   {'date': datetime.datetime(2013, 2, 19, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 1, 12, 0, 0), 'grade': 'A', 'score': 2}],
  'name': 'Mughlai Restaurant',
  'restaurant_id': '40370243'},
 {'_id': ObjectId('626684816bd12ea62c6812e5'),
  'address': {'building': '244',
   'coord': [-73.9865289, 40.7606981],
   'street': 'West   48 Street',
   'zipcode': '10036'},
  'borough': 'Manhattan',
  'cuisine': 'Thai',
  'grades': [{'date': datetime.datetime(2014, 8, 13, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'B', 'score': 24},
   {'date': datetime.datetime(2013, 7, 25, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 1, 10, 0, 0), 'grade': 'C', 'score': 4},
   {'date': datetime.datetime(2012, 6, 18, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2012, 2, 17, 0, 0), 'grade': 'P', 'score': 6}],
  'name': 'Pongsri Thai Restaurant',
  'restaurant_id': '40374088'},
 {'_id': ObjectId('626684816bd12ea62c681302'),
  'address': {'building': '807',
   'coord': [-73.96643449999999, 40.7641697],
   'street': 'Lexington Avenue',
   'zipcode': '10065'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 10, 28, 0, 0),
    'grade': 'A',
    'score': 10},
   {'date': datetime.datetime(2014, 7, 9, 0, 0), 'grade': 'B', 'score': 24},
   {'date': datetime.datetime(2014, 1, 17, 0, 0), 'grade': 'A', 'score': 11},
   {'date': datetime.datetime(2013, 5, 28, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 3, 27, 0, 0), 'grade': 'A', 'score': 13},
   {'date': datetime.datetime(2011, 11, 2, 0, 0), 'grade': 'C', 'score': 28}],
  'name': 'Agra Restaurant',
  'restaurant_id': '40375376'},
 {'_id': ObjectId('626684816bd12ea62c68135a'),
  'address': {'building': '8443',
   'coord': [-73.80112059999999, 40.7128278],
   'street': '164 Street',
   'zipcode': '11432'},
  'borough': 'Queens',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 11, 28, 0, 0),
    'grade': 'A',
    'score': 4},
   {'date': datetime.datetime(2014, 6, 16, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 15, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2012, 5, 29, 0, 0), 'grade': 'A', 'score': 13}],
  'name': 'Annam Braham Restaurant',
  'restaurant_id': '40380520'},
 {'_id': ObjectId('626684816bd12ea62c68136d'),
  'address': {'building': '345',
   'coord': [-73.9864626, 40.7266739],
   'street': 'East 6 Street',
   'zipcode': '10003'},
  'borough': 'Manhattan',
  'cuisine': 'Indian',
  'grades': [{'date': datetime.datetime(2014, 9, 15, 0, 0),
    'grade': 'A',
    'score': 5},
   {'date': datetime.datetime(2014, 1, 14, 0, 0), 'grade': 'A', 'score': 8},
   {'date': datetime.datetime(2013, 5, 30, 0, 0), 'grade': 'A', 'score': 12},
   {'date': datetime.datetime(2013, 4, 24, 0, 0), 'grade': 'P', 'score': 2},
   {'date': datetime.datetime(2012, 10, 1, 0, 0), 'grade': 'A', 'score': 9},
   {'date': datetime.datetime(2012, 4, 6, 0, 0), 'grade': 'C', 'score': 92},
   {'date': datetime.datetime(2011, 11, 3, 0, 0), 'grade': 'C', 'score': 41}],
  'name': 'Gandhi',
  'restaurant_id': '40381295'}]

### Find a restaurant with the following address: 1115 Rogers Avenue, 11226

In [5]:
collection.find_one({'address.street': 'Rogers Avenue', 'address.building': '1115', 'address.zipcode': '11226'})

{'_id': ObjectId('626684816bd12ea62c6823b4'),
 'address': {'building': '1115',
  'coord': [-73.9513659, 40.6426492],
  'street': 'Rogers Avenue',
  'zipcode': '11226'},
 'borough': 'Brooklyn',
 'cuisine': 'Creole',
 'grades': [{'date': datetime.datetime(2014, 12, 22, 0, 0),
   'grade': 'A',
   'score': 10},
  {'date': datetime.datetime(2014, 8, 5, 0, 0), 'grade': 'A', 'score': 9},
  {'date': datetime.datetime(2014, 2, 10, 0, 0), 'grade': 'A', 'score': 10},
  {'date': datetime.datetime(2012, 12, 19, 0, 0), 'grade': 'A', 'score': 11},
  {'date': datetime.datetime(2011, 12, 30, 0, 0), 'grade': 'A', 'score': 10}],
 'name': 'Chez Macoule Restaurant',
 'restaurant_id': '41012277'}

## Exercise 2
Insert into the database following restaurant:
- Address: 1480 2 Avenue, 10075, -73.9557413, 40.7720266
- Borough: Manhattan
- Cuisine: Italian
- Name: Vella
- Id: 41704620
- Grades:
    - A, 11, 01 Oct, 2014

In [6]:
import datetime
data = {
    'address': {'building': '1480', 'coord': [-73.9557413, 40.7720266], 'street': '2 Avenue', 'zipcode': '10075'},
    'borough': 'Manhattan', 'cuisine': 'Italian',
    'grades': [{'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'A', 'score': 10}],
    'name': 'Vella', 'restaurant_id': '41704620'}
result = collection.insert_one(data)

In [7]:
result.inserted_id

ObjectId('626684978ae54c81f24f7bba')

## Exercise 3

### Delete from the database a single Manhattan located restaurant

In [8]:
collection.delete_one({'borough': 'Manhattan'}).raw_result

{'n': 1, 'ok': 1.0}

### Delete from the database all Thai cuisines

In [9]:
collection.delete_many({'cuisine': 'Thai'}).raw_result

{'n': 285, 'ok': 1.0}

## Exercise 4
Query all restaurants on the Rogers Avenue street, for each of them do the following:
- if it has more than one C grades → delete this restaurant
- otherwise, add another C grade to this restaurant

In [10]:
rests_on_street = collection.find({'address.street': 'Rogers Avenue', 'grades.grade': 'C'})

In [11]:
rests_with_cc = []
for e in rests_on_street:
    c_counter = 0
    for g in e['grades']:
        if g['grade'] == 'C':
            c_counter += 1
    if c_counter > 1:
        collection.delete_one(e)
    else:
        collection.update_one(e, {'$push': {'grades': {'date': datetime.datetime(2014, 10, 1, 0, 0), 'grade': 'C', 'score': 10}}})